.want-amount-entry,
.want-amount-entry:focus {
  font-size: 90px;
  color: rgba(245, 166, 35, 1);
  font-family: 'Montserrat-Bold';
  max-width: 40%;
  background-color: #f1f1f1;
  outline: none !important;
  border: none !important;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.amount-input {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f1f1f1;
}

.dollar-sign {
  color: rgba(245, 166, 35, 1);
  font-size: 45px;
  margin-top: 10px;
}
